// app global css in SCSS form
body {
    background-color: #eeeeee;
}

.fullwidth {
    width: 100%;
}

.cardstyle {
    background: white;
    border-radius: 20px;
    text-align: center;
    box-shadow: none !important;
}

.q-toolbar {
    min-height: 25px !important;
}

.q-layout__shadow:after {
    box-shadow: none !important;
}

.textPrimaryColor {
    color: #017eff;
}

.q-btn__wrapper:before {
    box-shadow: none !important;
}
